.user-show-all{

  .user-show-header{
    line-height: 16px;
    font-size: 11px;
    padding: 6px 0 6px 1px;
    color: #818181;
    border-bottom: 1px solid #eee;
    width: 980px;
    text-align: left;
    border-radius: 3px;
    margin: auto;
    border-radius: 3px;
  }

  .user-show-box{
    width: 980px;
    text-align: left;
    border-radius: 3px;
    margin: auto;
    display: flex;
    padding-top: 20px;


    .user-show-left{
      font-size: 12px;
      padding: 20px;
      position: relative;
      width: 190px;
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 5%;
      border-radius: 3px;

      .user-show-img{
        position: relative;
        border-radius: 50%;
        height: 158px;
        width: 158px;
        border: 1px solid #DADBD6;
        margin-bottom: 2em;
        margin-top: 1em;
        margin-left: 2.5px;
        background-color: white;
      }

      h4{
        margin: 20px 0;
        color: #666;
        font-weight: bold;
        line-height: 14px;

      }

      .side-bar{
        color: #666;

        p{
          padding-bottom: .7em;
        }
      }
    }

            }
}
